<mat-toolbar color="warn">
<span>
    <a routerLink="" mat-button>
        <mat-icon>accessibility_new
        </mat-icon> INICIO
    </a>
</span>   
<div>
    <a mat-button routerLink="cursos">
        <mat-icon>search</mat-icon>Buscar Cursos
    </a>
</div> 
<div>
    
    <a mat-button routerLink="profesores">Profesores</a>
</div>
<div>
    <a mat-button routerLink="asistencia">Asistencia</a>
</div>

<div>
    <a mat-button routerLink="datos-personales">Datos personales</a>
</div>
</mat-toolbar>
